* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
    font-family: 'Fira Code', monospace;
    background: #161616;
    color: #ffffff;
    text-align: justify;
}

p {
    padding: 3px;
}

h1,
h2 {
    padding: 15px;
    text-align: center;
}

#info {
    margin: 5px 150px;
}

#calculadora {
    margin: 60px 500px;
    padding: 30px;
    background-color: #00132c;
}

input {
    background: #161616;
    color: #ffffff;
    font-size: 30px;
    margin: 5px;
    text-decoration: none;
    border: none;
    padding: 20px;
    border-radius: 100px;
}

input:hover {
    cursor: pointer;

    transition: 5ms;
}